
[George Bolo](https://linuxctl.com/2017/02/x509-certificate-manual-signature-verification/)
(2017) x509 Certificate Manual Signature Verification

[Show HN: OpenSign - Open source alternative to DocuSign | Hacker News](https://news.ycombinator.com/item?id=38052344)
[GitHub - OpenSignLabs/OpenSign: 🔥 🔥 🔥 The free & Open Source DocuSign alternative](https://github.com/OpenSignLabs/OpenSign)
[OpenSign™ | The Free & OpenSource Alternative to Docusign](https://www.opensignlabs.com/)
