
[h2spec](https://github.com/summerwind/h2spec)
is a conformance testing tool for HTTP/2 implementation.

[htrace.sh](https://github.com/trimstray/htrace.sh)
is a simple Swiss Army knife for http/https troubleshooting and profiling.
