
[GitHub - zkemail/zk-email-verify: Verify emails with the same trust assumption as the email domain i.e. without trusting our server (because it doesnt exist)](https://github.com/zkemail/zk-email-verify)
[ZK Email](https://prove.email/)
