
[Comparison of file verification software - Wikipedia](https://en.wikipedia.org/wiki/Comparison_of_file_verification_software)
