
[Minissign](https://jedisct1.github.io/minisign/)
Sign and Verify Signatures
